.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #bb0b0e;
  height: 1024px;
  position: relative;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 91px;
  top: 51px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 622px;
  top: 51px;
  width: 248px;
  height: 58px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 1192px;
  top: 51px;
  width: 248px;
  height: 58px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 915px;
  top: 51px;
  width: 248px;
  height: 58px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 706px);
  top: 215px;
  width: 1234px;
  height: 97px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting-semester-details-spring-2025-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 28px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 676px);
  top: 312px;
  width: 1272px;
  height: 468px;
}
