.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #bb0b0e;
  height: 1024px;
  position: relative;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 91px;
  top: 51px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 622px;
  top: 51px;
  width: 248px;
  height: 58px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 1192px;
  top: 51px;
  width: 248px;
  height: 58px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 915px;
  top: 51px;
  width: 248px;
  height: 58px;
}
.contact-us {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 215px;
  width: 415px;
  height: 97px;
}
.reach-out-to-the-course-team-for-support-or-inquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 28px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 345px;
  width: 1272px;
  height: 468px;
}
